APP_NAME=EAMCET WhatsApp Bot
APP_ENV=development

SUPABASE_URL=https://bnvlcjgshziawkrcodai.supabase.co
SUPABASE_ANON_KEY=sb_publishable_ivDc4Mp8N9SQbsa4R6zCEA_uXIv5rUF



WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
VERIFY_TOKEN=